:root {
  --hero-text-color: #fff;
  --p-color-section: #393c41;
  --h2-text-color-section: #171a20;
  --h3-text-color-section: #171a20;
  --section-links-color: #171a20;
  --badge-text-color: #fff;
  --btn-dark-border-color: #171a20;
  --btn-dark-text-color: #171a20;
  --btn-light-border-color: #fff;
  --btn-light-text-color: #fff;

}
