/* Hero Badge List */

.hero .hero-heading {
  font-size: 34px;
  margin: 50px 0 0 0;
}

.hero .model-3-container {
  justify-content: space-between;
}


.hero .badge-list-wrapper {
  flex-wrap: wrap;
}

/* General Badge List */

.badge-list-wrapper {
  padding: 0 0 20px 0;
  margin: 0;
}

.badge-list-wrapper .badge-list .badge-group {
  width: auto;
}
.badge-list-wrapper .badge-list .badge-group h2 {
  font-size: 20px;
}

.badge-list-wrapper .badge-list .badge-group span {
  font-size: 20px;
}

.badge-list-wrapper .badge-list .badge-group p {
  font-size: 10px;
}

.badge-list-wrapper .badge-list .badge-group .desktop {
  display: none;
}

.badge-list-wrapper .badge-list .badge-group .phone {
  display: block;
} 

/* Section Sturcture Row */

.flex-items {
  flex-direction: column;
}

.flex-items .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-items .right-side .safety-right-side__top-side,
.flex-items .right-side .range-right-side__top-side {
  width: 100%;
}

.flex-items .right-side .header-group {
  position: static;
}


/* Section Sturcture Column */

.flex-items-col {
  height: auto;
}

.flex-items-col .top-side {
  display: flex;
  align-items: flex-end;
}

.flex-items-col .bottom-side {
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
}

.flex-items-col .bottom-side .bottom-side__right-side {
  flex-direction: column;
}

/* Range */

#range .range-right-side img {
  display: none;
}

.chevron {
  display: none;
}